{% extends 'base.html' %}


{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{{ mixin_group }}
    {% for item in news %}
    <div class="card mb-3" style="width: 1040px;">
        {{ forloop.counter }}
        <div class="card-header">
            Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category.title }}</a>
        </div>
        <div class="media" style="display:flex">
            <div class="media-photo">
                {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="" width="350" class="mr-3">
                {% else %}
                <img src="https://picsum.photos/id/1060/350/235/?blur=2" alt="" width="350" class="mr-3">
                {% endif %}
            </div>
            <div class="media-body">
                <h5 class="card-title {% cycle 'text-success' 'text-danger' 'text-primary' %}">{{ item.title }}</h5>
                {% autoescape off %}
                <p class="card-text">{{ item.content|truncatewords:60|linebreaks }}</p>
                {% endautoescape %}
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Ride more..</a>
            </div>
        </div>
        <div class="card-footer text-body-secondary">
            {{ item.created_at|date:'Y-m-d H:i' }}
        </div>
    </div>
    {% endfor %}
{% endblock %}